Logisitc regression to predict absenteeism

import library

In [110]:
import pandas as pd
import numpy as np

In [111]:
data_preproccessed = pd.read_csv('Absenteeism_preprocessed.csv')

In [112]:
data_preproccessed.head()

,Reason I,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,day,Day of the week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,14,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,15,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,16,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,23,3

#define classes

In [113]:
data_preproccessed['Absenteeism Time in Hours'].median()

3.0

In [114]:
type(data_preproccessed['Absenteeism Time in Hours'])

pandas.core.series.Series

In [115]:
Targets = np.where(data_preproccessed['Absenteeism Time in Hours']> 
                   data_preproccessed['Absenteeism Time in Hours'].median(),1,0)

In [116]:
Targets

array([1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0])

In [117]:
data_preproccessed['Excessive Absenteeism'] = Targets

In [118]:
data_preproccessed.head()

,Reason I,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,day,Day of the week,Excessive Absenteeism
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,7,1,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,14,1,0
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,15,2,0
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,16,3,1
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,23,3,0

In [119]:
#Comment on the targets

In [120]:
Targets.sum()/ Targets.shape[0]

0.45571428571428574

In [121]:
data_with_targets = data_preproccessed.drop(['Absenteeism Time in Hours'], axis=1)

In [122]:
data_with_targets is data_preproccessed

False

Select the input for the regression

In [123]:
data_with_targets.shape

(700, 17)

In [124]:
data_with_targets.head()

,Reason I,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month Value,day,Day of the week,Excessive Absenteeism
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,0,2,1,7,7,1,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,0,1,0,7,14,1,0
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,0,0,0,7,15,2,0
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,0,2,0,7,16,3,1
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,0,2,1,7,23,3,0

In [125]:
data_with_targets.iloc[]

SyntaxError: invalid syntax (Temp/ipykernel_24208/2819564722.py, line 1)

In [ ]:
data_with_targets = data_with_targets.drop('day', 1)

C:\Users\Petro\AppData\Local\Temp/ipykernel_24208/634682325.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_with_targets = data_with_targets.drop('day', 1)

In [126]:
data_with_targets.head()

,Reason I,Reason 2,Reason 3,Reason 4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month Value,day,Day of the week,Excessive Absenteeism
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,0,2,1,7,7,1,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,0,1,0,7,14,1,0
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,0,0,0,7,15,2,0
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,0,2,0,7,16,3,1
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,0,2,1,7,23,3,0

In [127]:
data_with_targets = data_with_targets.drop('Date', 1)

C:\Users\Petro\AppData\Local\Temp/ipykernel_24208/3986029032.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  data_with_targets = data_with_targets.drop('Date', 1)

In [128]:
data_with_targets.head()

,Reason I,Reason 2,Reason 3,Reason 4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month Value,day,Day of the week,Excessive Absenteeism
0,0,0,0,1,289,36,33,239.554,30,0,2,1,7,7,1,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,7,14,1,0
2,0,0,0,1,179,51,38,239.554,31,0,0,0,7,15,2,0
3,1,0,0,0,279,5,39,239.554,24,0,2,0,7,16,3,1
4,0,0,0,1,289,36,33,239.554,30,0,2,1,7,23,3,0

In [129]:
data_with_targets.shape

(700, 16)

In [130]:
data_with_targets.iloc[:,0:-1]

,Reason I,Reason 2,Reason 3,Reason 4,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Month Value,day,Day of the week
0,0,0,0,1,289,36,33,239.554,30,0,2,1,7,7,1
1,0,0,0,0,118,13,50,239.554,31,0,1,0,7,14,1
2,0,0,0,1,179,51,38,239.554,31,0,0,0,7,15,2
3,1,0,0,0,279,5,39,239.554,24,0,2,0,7,16,3
4,0,0,0,1,289,36,33,239.554,30,0,2,1,7,23,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,1,0,0,0,179,22,40,237.656,22,1,2,0,5,23,2
696,1,0,0,0,225,26,28,237.656,24,0,1,2,5,23,2
697,1,0,0,0,330,16,28,237.656,25,1,0,0,5,24,3
698,0,0,0,1,235,16,32,237.656,25,1,0,0,5,24,3
699,0,0,0,1,291,31,40,237.656,25,0,1,1,5,31,3

In [131]:
unscaled_inputs = data_with_targets.iloc[:,0:-1]

# Standardize the data

In [132]:
from sklearn.preprocessing import StandardScaler

absenteeism_scaler = StandardScaler()

In [133]:
absenteeism_scaler.fit(unscaled_inputs)

StandardScaler()

In [134]:
 scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)

In [135]:
scaled_inputs

array([[-0.57735027, -0.09298136, -0.31448545, ...,  0.18272635,
        -1.103121  , -0.68370352],
       [-0.57735027, -0.09298136, -0.31448545, ...,  0.18272635,
        -0.22833658, -0.68370352],
       [-0.57735027, -0.09298136, -0.31448545, ...,  0.18272635,
        -0.10336738, -0.00772546],
       ...,
       [ 1.73205081, -0.09298136, -0.31448545, ..., -0.3882935 ,
         1.02135543,  0.66825259],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.3882935 ,
         1.02135543,  0.66825259],
       [-0.57735027, -0.09298136, -0.31448545, ..., -0.3882935 ,
         1.89613985,  0.66825259]])

In [136]:
scaled_inputs.shape

(700, 15)

# Split the data into test & train and shuffle

#import the relevant module

In [137]:
from sklearn.model_selection import train_test_split

#split

In [138]:
train_test_split(scaled_inputs, Targets)

[array([[ 1.73205081, -0.09298136, -0.31448545, ...,  1.61027597,
         -1.3530594 , -1.35968157],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.95931334,
         -0.9781518 ,  0.66825259],
        [-0.57735027, -0.09298136,  3.17979734, ...,  1.61027597,
         -1.85293621, -0.68370352],
        ...,
        [ 1.73205081, -0.09298136, -0.31448545, ..., -0.95931334,
         -0.35330579, -0.68370352],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.10278357,
          0.52147863, -1.35968157],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.67380342,
          0.14657102, -1.35968157]]),
 array([[-0.57735027, -0.09298136,  3.17979734, ..., -1.53033319,
         -0.47827499, -0.68370352],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.95931334,
         -0.47827499, -1.35968157],
        [-0.57735027, -0.09298136, -0.31448545, ...,  0.7537462 ,
          1.52123224, -1.35968157],
        ...,
        [ 1.73205081, -0.09298136, -0.31448545, ...,  1.03925612,
          1.52123224,  1.34423065],
        [-0.57735027, -0.09298136, -0.31448545, ..., -0.67380342,
          1.52123224,  1.34423065],
        [ 1.73205081, -0.09298136, -0.31448545, ...,  0.46823627,
         -0.47827499, -0.00772546]]),
 array([0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
        0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0,
        0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
        1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0,
        1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1,
        0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0,
        1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0,
        1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
        0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0,
        1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
        1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
        1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1,
        1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0,
        0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
        0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1,
        1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0,
        0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
        0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1,
        0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
        1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0,
        0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
        1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0,
        1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0]),
 array([1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
        0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
        0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
        1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
        0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1,
        0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1])]

In [139]:
x_train, x_test, y_train, y_test = train_test_split(scaled_inputs, Targets, train_size = 0.8, random_state = 20)

In [140]:
print (x_train.shape, y_train.shape)

(560, 15) (560,)

In [141]:
print (x_test.shape, y_test.shape)

(140, 15) (140,)

# Logistic regression Scikit learning algorithm

In [142]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

# training the model

In [143]:
reg = LogisticRegression()

In [146]:
reg.fit(x_train, y_train)

LogisticRegression()

In [149]:
reg.score(x_train, y_train)

0.7839285714285714

In [151]:
## manually check the accuracy

model_outputs = reg.predict(x_train)

model_outputs

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 0, 0, 0, 0])

In [152]:
y_train

array([0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0])

In [154]:
np.sum(model_outputs == y_train)

439

In [160]:
model_outputs.shape[0]

560

In [161]:
np.sum(model_outputs == y_train) / model_outputs.shape[0]

0.7839285714285714

In [163]:
shape?

Object `shape` not found.

In [164]:
reg.intercept_

array([-0.22166443])

In [165]:
reg.coef_

array([[ 2.08148228,  0.33562421,  1.56629194,  1.33675975,  0.70531398,
        -0.04081799, -0.20131197, -0.00231068,  0.32013578, -0.13469377,
         0.3831769 , -0.33421837,  0.18827576,  0.02174787, -0.07236916]])

In [168]:
unscaled_inputs.columns.values

array(['Reason I', 'Reason 2', 'Reason 3', 'Reason 4',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Month Value', 'day', 'Day of the week'],
      dtype=object)

In [169]:
feature_name = unscaled_inputs.columns.values

In [173]:
summary_table = pd.DataFrame(columns=['Feature name'], data= feature_name)
summary_table['Coefficient'] = np.transpose(reg.coef_)
summary_table

               Feature name  Coefficient
0                  Reason I     2.081482
1                  Reason 2     0.335624
2                  Reason 3     1.566292
3                  Reason 4     1.336760
4    Transportation Expense     0.705314
5          Distance to Work    -0.040818
6                       Age    -0.201312
7   Daily Work Load Average    -0.002311
8           Body Mass Index     0.320136
9                 Education    -0.134694
10                 Children     0.383177
11                     Pets    -0.334218
12              Month Value     0.188276
13                      day     0.021748
14          Day of the week    -0.072369

In [174]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

               Feature name  Coefficient
0                 Intercept    -0.221664
1                  Reason I     2.081482
2                  Reason 2     0.335624
3                  Reason 3     1.566292
4                  Reason 4     1.336760
5    Transportation Expense     0.705314
6          Distance to Work    -0.040818
7                       Age    -0.201312
8   Daily Work Load Average    -0.002311
9           Body Mass Index     0.320136
10                Education    -0.134694
11                 Children     0.383177
12                     Pets    -0.334218
13              Month Value     0.188276
14                      day     0.021748
15          Day of the week    -0.072369

In [175]:
summary_table['Odds_ratio'] = np.exp(summary_table.Coefficient)

In [176]:
summary_table

               Feature name  Coefficient  Odds_ratio
0                 Intercept    -0.221664    0.801184
1                  Reason I     2.081482    8.016343
2                  Reason 2     0.335624    1.398813
3                  Reason 3     1.566292    4.788858
4                  Reason 4     1.336760    3.806689
5    Transportation Expense     0.705314    2.024482
6          Distance to Work    -0.040818    0.960004
7                       Age    -0.201312    0.817657
8   Daily Work Load Average    -0.002311    0.997692
9           Body Mass Index     0.320136    1.377315
10                Education    -0.134694    0.873984
11                 Children     0.383177    1.466938
12                     Pets    -0.334218    0.715897
13              Month Value     0.188276    1.207166
14                      day     0.021748    1.021986
15          Day of the week    -0.072369    0.930187

In [178]:
summary_table.sort_values('Odds_ratio', ascending =False)

               Feature name  Coefficient  Odds_ratio
1                  Reason I     2.081482    8.016343
3                  Reason 3     1.566292    4.788858
4                  Reason 4     1.336760    3.806689
5    Transportation Expense     0.705314    2.024482
11                 Children     0.383177    1.466938
2                  Reason 2     0.335624    1.398813
9           Body Mass Index     0.320136    1.377315
13              Month Value     0.188276    1.207166
14                      day     0.021748    1.021986
8   Daily Work Load Average    -0.002311    0.997692
6          Distance to Work    -0.040818    0.960004
15          Day of the week    -0.072369    0.930187
10                Education    -0.134694    0.873984
7                       Age    -0.201312    0.817657
0                 Intercept    -0.221664    0.801184
12                     Pets    -0.334218    0.715897

In [179]:
reg.score(x_test, y_test)

0.7357142857142858

In [182]:
predict_proba = reg.predict_proba(x_test)
predict_proba

array([[0.74194034, 0.25805966],
       [0.58867232, 0.41132768],
       [0.36700305, 0.63299695],
       [0.80970691, 0.19029309],
       [0.06067081, 0.93932919],
       [0.30614033, 0.69385967],
       [0.28812062, 0.71187938],
       [0.08332494, 0.91667506],
       [0.80794705, 0.19205295],
       [0.76096801, 0.23903199],
       [0.45671819, 0.54328181],
       [0.15647436, 0.84352564],
       [0.04443443, 0.95556557],
       [0.73037967, 0.26962033],
       [0.23072448, 0.76927552],
       [0.5577509 , 0.4422491 ],
       [0.53439626, 0.46560374],
       [0.54791901, 0.45208099],
       [0.38911594, 0.61088406],
       [0.02497015, 0.97502985],
       [0.69428594, 0.30571406],
       [0.80248596, 0.19751404],
       [0.38186907, 0.61813093],
       [0.39933351, 0.60066649],
       [0.17837581, 0.82162419],
       [0.75202224, 0.24797776],
       [0.46296834, 0.53703166],
       [0.89202337, 0.10797663],
       [0.13822132, 0.86177868],
       [0.79194308, 0.20805692],
       [0.61143908, 0.38856092],
       [0.28742209, 0.71257791],
       [0.30083978, 0.69916022],
       [0.43362139, 0.56637861],
       [0.79945314, 0.20054686],
       [0.45980893, 0.54019107],
       [0.7986199 , 0.2013801 ],
       [0.18226592, 0.81773408],
       [0.55849701, 0.44150299],
       [0.38381883, 0.61618117],
       [0.78591203, 0.21408797],
       [0.6046869 , 0.3953131 ],
       [0.78645215, 0.21354785],
       [0.90144481, 0.09855519],
       [0.16237974, 0.83762026],
       [0.33826271, 0.66173729],
       [0.27666369, 0.72333631],
       [0.73554345, 0.26445655],
       [0.80170228, 0.19829772],
       [0.82530908, 0.17469092],
       [0.42390074, 0.57609926],
       [0.91798551, 0.08201449],
       [0.31227818, 0.68772182],
       [0.71955855, 0.28044145],
       [0.12827067, 0.87172933],
       [0.51502986, 0.48497014],
       [0.06838258, 0.93161742],
       [0.74729415, 0.25270585],
       [0.91927206, 0.08072794],
       [0.91898932, 0.08101068],
       [0.26902171, 0.73097829],
       [0.33675466, 0.66324534],
       [0.69291879, 0.30708121],
       [0.139652  , 0.860348  ],
       [0.81773077, 0.18226923],
       [0.73669352, 0.26330648],
       [0.98663087, 0.01336913],
       [0.7823388 , 0.2176612 ],
       [0.19107342, 0.80892658],
       [0.68594991, 0.31405009],
       [0.79145251, 0.20854749],
       [0.92784191, 0.07215809],
       [0.06595819, 0.93404181],
       [0.54207479, 0.45792521],
       [0.34919534, 0.65080466],
       [0.79814284, 0.20185716],
       [0.14822468, 0.85177532],
       [0.28399737, 0.71600263],
       [0.20785913, 0.79214087],
       [0.30440461, 0.69559539],
       [0.75804606, 0.24195394],
       [0.98806027, 0.01193973],
       [0.78142241, 0.21857759],
       [0.23705633, 0.76294367],
       [0.55770712, 0.44229288],
       [0.89709359, 0.10290641],
       [0.28423909, 0.71576091],
       [0.40630928, 0.59369072],
       [0.95024812, 0.04975188],
       [0.29697692, 0.70302308],
       [0.86478507, 0.13521493],
       [0.87891179, 0.12108821],
       [0.7904107 , 0.2095893 ],
       [0.72408158, 0.27591842],
       [0.77736879, 0.22263121],
       [0.10359944, 0.89640056],
       [0.72793566, 0.27206434],
       [0.19041339, 0.80958661],
       [0.76528937, 0.23471063],
       [0.80030644, 0.19969356],
       [0.32821115, 0.67178885],
       [0.27805308, 0.72194692],
       [0.26977631, 0.73022369],
       [0.27015023, 0.72984977],
       [0.51829132, 0.48170868],
       [0.47113018, 0.52886982],
       [0.75002752, 0.24997248],
       [0.12119102, 0.87880898],
       [0.20343492, 0.79656508],
       [0.85880378, 0.14119622],
       [0.98923417, 0.01076583],
       [0.07758729, 0.92241271],
       [0.26489291, 0.73510709],
       [0.63921601, 0.36078399],
       [0.42719709, 0.57280291],
       [0.3917679 , 0.6082321 ],
       [0.13247796, 0.86752204],
       [0.1635849 , 0.8364151 ],
       [0.45903546, 0.54096454],
       [0.69731389, 0.30268611],
       [0.76220458, 0.23779542],
       [0.85439403, 0.14560597],
       [0.12700312, 0.87299688],
       [0.571121  , 0.428879  ],
       [0.80119055, 0.19880945],
       [0.63042782, 0.36957218],
       [0.81124022, 0.18875978],
       [0.89359458, 0.10640542],
       [0.23760152, 0.76239848],
       [0.67742214, 0.32257786],
       [0.32451827, 0.67548173],
       [0.80650766, 0.19349234],
       [0.69389451, 0.30610549],
       [0.65353396, 0.34646604],
       [0.70931663, 0.29068337],
       [0.45031076, 0.54968924],
       [0.54467004, 0.45532996],
       [0.69725589, 0.30274411],
       [0.74674816, 0.25325184],
       [0.53975912, 0.46024088]])

In [184]:
predict_proba.shape

(140, 2)

In [186]:
predict_proba[:,1]

array([0.25805966, 0.41132768, 0.63299695, 0.19029309, 0.93932919,
       0.69385967, 0.71187938, 0.91667506, 0.19205295, 0.23903199,
       0.54328181, 0.84352564, 0.95556557, 0.26962033, 0.76927552,
       0.4422491 , 0.46560374, 0.45208099, 0.61088406, 0.97502985,
       0.30571406, 0.19751404, 0.61813093, 0.60066649, 0.82162419,
       0.24797776, 0.53703166, 0.10797663, 0.86177868, 0.20805692,
       0.38856092, 0.71257791, 0.69916022, 0.56637861, 0.20054686,
       0.54019107, 0.2013801 , 0.81773408, 0.44150299, 0.61618117,
       0.21408797, 0.3953131 , 0.21354785, 0.09855519, 0.83762026,
       0.66173729, 0.72333631, 0.26445655, 0.19829772, 0.17469092,
       0.57609926, 0.08201449, 0.68772182, 0.28044145, 0.87172933,
       0.48497014, 0.93161742, 0.25270585, 0.08072794, 0.08101068,
       0.73097829, 0.66324534, 0.30708121, 0.860348  , 0.18226923,
       0.26330648, 0.01336913, 0.2176612 , 0.80892658, 0.31405009,
       0.20854749, 0.07215809, 0.93404181, 0.45792521, 0.65080466,
       0.20185716, 0.85177532, 0.71600263, 0.79214087, 0.69559539,
       0.24195394, 0.01193973, 0.21857759, 0.76294367, 0.44229288,
       0.10290641, 0.71576091, 0.59369072, 0.04975188, 0.70302308,
       0.13521493, 0.12108821, 0.2095893 , 0.27591842, 0.22263121,
       0.89640056, 0.27206434, 0.80958661, 0.23471063, 0.19969356,
       0.67178885, 0.72194692, 0.73022369, 0.72984977, 0.48170868,
       0.52886982, 0.24997248, 0.87880898, 0.79656508, 0.14119622,
       0.01076583, 0.92241271, 0.73510709, 0.36078399, 0.57280291,
       0.6082321 , 0.86752204, 0.8364151 , 0.54096454, 0.30268611,
       0.23779542, 0.14560597, 0.87299688, 0.428879  , 0.19880945,
       0.36957218, 0.18875978, 0.10640542, 0.76239848, 0.32257786,
       0.67548173, 0.19349234, 0.30610549, 0.34646604, 0.29068337,
       0.54968924, 0.45532996, 0.30274411, 0.25325184, 0.46024088])

#save model

In [188]:
import pickle

In [189]:
with open('model','wb') as file:
    pickle.dump(reg,file)

In [ ]:
# pickle the scaler file
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler, file)